.git
.vscode
.DS_Store

**/__pycache__/
**/*.py[cod]
**/.venv/
**/.pytest_cache/
**/.ruff_cache/

vineyard-dashboard/node_modules/
vineyard-dashboard/.astro/
vineyard-dashboard/dist/
vineyard-dashboard/npm-debug.log

lora/**/.pio/
lora/**/.vscode/

CV/**/weights/
CV/images/
CV/runs/
