
.DS_Store
.idea/
__pycache__/
*.py[cod]

vineyard-dashboard/.idea/
vineyard-dashboard/.astro/
vineyard-dashboard/dist/

.vscode/

.venv/

*.png
!BoxPR_curve.png
!confusion_matrix_normalized.png
*.code-workspace
