
.DS_Store

mqtt-server/mosquitto/log/mosquitto.log

mqtt-server/mosquitto/data/mosquitto.db

vineyard-dashboard/.idea/

.vscode/

.venv/

*.png
!BoxPR_curve.png
!confusion_matrix_normalized.png
mqtt-server/mqtt-subscriber/__pycache__/
