POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=data
POSTGRES_USER=user
POSTGRES_PASSWORD=password

ZONE_STALE_MINUTES=30
ZONE_TEMPERATURE_MIN=5
ZONE_TEMPERATURE_MAX=35
ZONE_HUMIDITY_MIN=35
ZONE_MOISTURE_MIN=250
